<!-- <header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="">
        <span style="color:rgb(255, 0, 255)">Financial</span>Reporting
      </a>
      <ul class="nav nav-pills">
        {% if user.is_authenticated %}
        <li class="nav-item"> 
          <a class="nav-link" href="">Добавить транзакцию</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light" href="">Изменить пароль</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light" href="">Выйти</a>
        </li>
        <li>
          Пользователь: {{ user.username }}
        <li>
        {% else %}
        <li class="nav-item"> 
          <a class="nav-link link-light" href="">Войти</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light" href="">Регистрация</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>      
</header>  -->

<div class="container">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="64" height="64" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 link-secondary">Главная</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Транзакции</a></li>
    </ul>

    <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form> -->

    <div class="dropdown text-end">
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small">
        {% if user.is_authenticated %}
          <li class="dropdown-item">{{ user.username }}</li>
          <li><a class="dropdown-item" href="#">Добавить транзакцию</a></li>
          <li><a class="dropdown-item" href="#">Настройки</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Выйти</a></li>
        {% else %}
          <li><a class="dropdown-item" href="#">Зарегистрироваться</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Войти</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>