<div class="modal" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Сообщение от сервера</h4>
            </div>
            <div class="modal-body">
                <p id="modal-message">Сообщение от сервера будет отображено здесь.</p>
            </div>
            <div class="modal-footer">
                <button id="notificationClose" type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>