{% extends "base.html" %}
{% load static %}
{% block title %} Главная {% endblock %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'image/carusel12.jpg' %}" width="100%" height="120%">
      <div class="container">
        <div class="carousel-caption text-left text-dark">
          <h1>Первый шаг к успеху!</h1>
          <p>Сервис, который заботится о вашем бюджете. Присоединяйся, это бесплатно!</p>
          <p><a class="btn btn-lg btn-info" href="{% url 'users:signup' %}">Регистрация</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/carusel10.jpg' %}" width="100%" height="120%">
      <div class="container">
        <div class="carousel-caption text-dark">
          <h1>Правильные финансовые решения каждый день!</h1>
          <p>Наш сервис помогает вести учет своих финансовых потоков, для их объективного мониторинга и планирования.</p>
          <p><a class="btn btn-lg btn-info" href="#more">Подробнее</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/carusel11.jpg' %}" width="100%" height="120%">
      <div class="container">
        <div class="carousel-caption text-end text-dark">
          <h1>Премиум подписка</h1>
          <p>Данная подписка расширает возможности нашего сервиса и дает преимущество работы с ним.</p>
          <p><a class="btn btn-lg btn-warning" href="#04">Подписка премиум</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div id="more" class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" width="140px" height="140px" src="{% static 'image/4.png' %}">
      <h2 class="fw-normal">Прогнозирование расходов.</h2>
      <!-- <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p> -->
      <p><a class="btn btn-info" href="#01">Подробнее &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" width="140px" height="140px" src="{% static 'image/5.png' %}">
      <h2 class="fw-normal">Продвинутая аналитика.</h2>
      <!-- <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p> -->
      <p><a class="btn btn-info" href="#02">Подробнее &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" width="140px" height="140px" src="{% static 'image/3.png' %}">
      <h2 class="fw-normal">Импорт и экспорт транзакций.</h2>
      <!-- <p>And lastly this, the third column of representative placeholder content.</p> -->
      <p><a class="btn btn-info" href="#03">Подробнее &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div id="01" class="row featurette">
    <div class="col-md-7">
      <h2 class="fw-normal lh-1">Прогнозирование расходов.</h2>
      <p class="lead">Покончите с финансовой неопределенностью! Наше высокоточное приложение для прогнозирования расходов позволит вам забыть о неожиданных затратах. Благодаря интеллектуальным алгоритмам и анализу данных, вы получите точные прогнозы будущих расходов, что позволит эффективно планировать свои финансы и достигать финансовых целей с уверенностью!</p>
      <p><a class="btn btn-info" href="#more">&laquo; Назад</a></p>
    </div>
    <div class="col-md-5">
      <img class= "featurette-image img-fluid mx-auto" width="500px" height="500px" src="{% static 'image/prognose.jpg' %}">
    </div>
  </div>

  <hr class="featurette-divider">

  <div id="02" class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="fw-normal lh-1">Продвинутая аналитика</h2>
      <p class="lead">
        Берите управление над вашими данными в свои руки с нашим мощным инструментом продвинутой аналитики. Откройте новые горизонты анализа данных, получите ценные инсайты и принимайте обоснованные решения. Наша интуитивно понятная платформа с легкостью обрабатывает и визуализирует данные, чтобы помочь вам улучшить эффективность, оптимизировать процессы и добиваться конкурентного преимущества.</p>
      <p><a class="btn btn-info" href="#more">&laquo; Назад</a></p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class= "featurette-image img-fluid mx-auto" width="500px" height="500px" src="{% static 'image/analitica.jpg' %}">
    </div>
  </div>

  <hr class="featurette-divider">

  <div id="03" class="row featurette">
    <div class="col-md-7">
      <h2 class="fw-normal lh-1">Импорт и экспорт транзакций</h2>
      <p class="lead">
        Сделайте управление финансами максимально удобным с нашим функциональным инструментом импорта/экспорта транзакций. Благодаря совместимости с различными форматами данных, вы сможете легко перемещать свои финансовые операции между платформами и банковскими системами. Просто импортируйте или экспортируйте данные за несколько кликов и сэкономьте свое время на важных вещах - достижении своих финансовых целей!</p>
      <p><a class="btn btn-info" href="#more">&laquo; Назад</a></p>
    </div>
    <div class="col-md-5">
      <img class= "featurette-image img-fluid mx-auto" width="500px" height="500px" src="{% static 'image/import_export.jpg' %}">
    </div>
  </div>

  <hr class="featurette-divider">

  <div id="04" class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="fw-normal lh-1">Премиум подписка</h2>
      <p class="lead">Обретите превосходство с нашей эксклюзивной премиум подпиской! Откройте двери к миру дополнительных возможностей и ваших финансовых мечтаний. С премиум подпиской вы получите доступ к лучшим функциям и персонализированным инструментам, которые помогут вам легко достигать финансовых целей. Приготовьтесь к уникальному опыту, который поднимет вашу финансовую игру на новый уровень!</p>
      <p><a class="btn btn-lg btn-warning" href="{% url 'users:pricing' %}">Купить</a></p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class= "featurette-image img-fluid mx-auto" width="500px" height="500px" src="{% static 'image/premium.png' %}">
    </div>
  </div>

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
{% endblock %}