{% extends "base.html" %}
{% block title %} Транзакции {% endblock %}
{% block content %}
{% if user.is_authenticated %}
  <main class="col-md-6 col-lg-12 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Транзакции</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Импорт</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Экспорт</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            Эта неделя
          </button>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

      <h2>Транзакции за период</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Тип транзакции</th>
              <th scope="col">Сумма</th>
              <th scope="col">Дата</th>
              <th scope="col">Описание</th>
              <th scope="col">Категория</th>
            </tr>
          </thead>
          <tbody>
              {% for transaction in transactions %}
              <tr>
                  <td>{{transaction.transaction_id}}</td>
                  <td>{{transaction.transaction_type}}</td>
                  <td>{{transaction.currency}}</td>
                  <td>{{transaction.date}}</td>
                  <td>{{transaction.description}}</td>
                  <td>{{transaction.category}}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
  </main>
{% else %}
  <div class="row justify-content-center">
    <div class="col-md-4 p-0">
      <div class="card">
        <div class="card-header">Войти или зарегистрироваться</div>
        <div class="card-body">
          <div class="transactions_button">
            <a href="{% url 'users:signup' %}"><button class="btn btn-lg btn-primary">Регистрация</button></a>
            <a href="{% url 'users:login' %}"><button class="btn btn-lg btn-primary">Войти</button></a>
          </div>
        </div> 
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}