{% extends "base.html" %}
{% block title %} Транзакции {% endblock %}
{% block content %}
    <div class="description">
        <h1>Транзакции</h1>
    </div>
        <table class="table table-white table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Тип транзакции</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Категория</th>
                </tr>
            </thead>
        {% for transaction in transactions %}
            <tr>
                <td>{{transaction.transaction_id}}</td>
                <td>{{transaction.transaction_type}}</td>
                <td>{{transaction.currency}}</td>
                <td>{{transaction.date}}</td>
                <td>{{transaction.description}}</td>
                <td>{{transaction.category}}</td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}